html {
  font-family: pt-sans-narrow, sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  font-family: pt-sans-narrow, sans-serif;
  font-size: 28px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: pt-sans-narrow, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}


@media (max-width: 767px) {
  .breadcrumb {
    font-size: 50%
    }
  }
